.aboutus {
  position: relative;
  background: rgba(255, 192, 203, 0);
}
.mainbox {
  padding: 4rem 1rem;
  margin-top: 60px;
}

section {
  display: block;
}

.inner-travel {
  max-width: 1100px;
  margin: auto;
}

.aboutus .mainboxbody {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.5rem;
  margin: 10rem 0;
}

.aboutusing img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0px;
  z-index: -99;
  opacity: 0.9;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.aboutusdiv {
  max-width: 500px;
  text-align: start;
  padding: 1rem;
  background: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px #fff;
}

.aboutnamettl {
  font-size: 2rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 2rem;
}

.para {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title-travel::before {
  content: "";
  height: 4px;
  background: #237aff;
  width: 100px;
  position: absolute;
  bottom: 45px;
}

.title-travel {
  color: #222;
  position: relative;
}
